@font-face {
  font-family: 'Toroka Regular';
  src: url('/fonts/Toroka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Toroka Light';
  src: url('/fonts/Toroka-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove all border radiuses */
* {
  border-radius: 0 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Toroka Light', sans-serif;
  background: radial-gradient(circle at center, #0d0e12 0%, #050506 100%);
  background-attachment: fixed;
  color: #ffffff;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Toroka Regular', sans-serif;
  font-weight: 400;
  color: #ffffff;
}
